@use "../../../styles.scss" as Styles;

.empresa {
  background-color: Styles.$blue-100;
  padding: 3.2rem;
  min-height: 100vh;
  h2 {
    font-size: 3.6rem;
    margin-top: 0;
    margin-bottom: 4rem;
  }
  h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px dashed Styles.$blue-200;
    padding-bottom: 1rem;
  }
}


@media (max-width: 600px) {
  .empresa {
    min-height: calc(100vh - 64px);
  }
}


@media (max-width: 768px) {
  .empresa {
    min-height: calc(100vh - 64px);
    padding: 2rem;
    h2 {
      font-size: 2.6rem;
      margin-bottom: 3rem;
    }
    h3 {
      font-size: 1.8rem;
    }
  }
}
@media (max-width: 599px) {
  .empresa {
    min-height: calc(100vh - 56px);
  }
}
