@use "../../../../styles.scss" as Style;

.logo {
  text-align: center;
  padding: 2rem;
  * {
    color: black;
  }
  img {
    width: 300px;
    padding: 2rem;
  }
  h2 {
    font-size: 3.6rem;
    margin: 0;
  }
  p {
    border-bottom: 2px solid Style.$blue-200;
    padding: 0 2rem;
    padding-bottom: 2rem;
    margin-top: 0;
  }
}
.menu {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    span {
        margin: 8px 8px;
    }
  }
}

.mdc-list-item__primary-text {
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .logo {
    padding: 1rem;
    img {
      width: 70%;
      padding: 1rem;
    }
    h2 {
      font-size: 2.8rem;
    }
    p {
      padding: 0 1rem;
      padding-bottom: 1rem;
    }
  }
}
